#container-fluid{
    position: relative;
}

#topBackground{
    position: static;
    height: 100vh;
    /* width: 100%; */
    top: 0;
    z-index: -1;
}

#background-profile {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/image/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center top !important;
    /* height: 100%; */
}



#namePassion{
    height: 100%;
}
.topRow{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
}
.topContentDiv{
    /* position: sticky; */
    height: 100vh;
    width: 100%;
    /* top: 0;
    left: 0; */
    background-color: rgba(0, 0, 0, 0);
    /* z-index: 2; */
}


#icons{

    color: white;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 6;
}
#icons :hover{
    color: rgb(95, 94, 94);
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    /* border-color: rgb(253, 253, 253);  */
    /* margin: 10px; */

}

#sideList {
    transition: 0.2s;
    /* background-color: rgba(255, 255, 255, 0); */
    z-index: 500;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100vh;
    overflow: auto;
    direction: rtl;
    background: -webkit-linear-gradient( 360deg, #00000000 10px, rgb(255, 255, 255)10px)
    /* width: 100%; */
    /* background-color: aqua; */
}
#SideListDiv{
    height: 100%;
    background-color: black;
    padding-top: 30px;
}

.sideMenu{
    background: -webkit-linear-gradient(  #000000 105px, rgb(255, 255, 255)10px);
    width: 300px;
    direction:ltr;
    height: 100%;

}

#sideList h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    color: #212431;
}

.profileImageDive{
    background-color: #fff; 
     /* width: 120px; */
    border-radius: 50%;
    display: block;
    margin: 15px auto;
  
}

.profile img {
    /* margin: 15px auto; */
    display: block;
    width: 180px;
    border: 8px solid #ffffff;
    
}

#sideListItems {
    background-color: black;color: white;
    padding-right: 30px;
    padding-left: 30px;
}


.profileImageDive{
    background-color: #fff; 
     /* width: 120px; */
    border-radius: 50%;
    display: block;
    margin: 15px auto;
  
}
.nav-menu {
    padding: 30px 0 0 0;
}
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #212431;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
font-size: 24px;
padding-right: 8px;
color: #212431;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
text-decoration: none;
color: #727272;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
color: #149ddd;
text-decoration: underline;
}
.topContentDiv h1{
    z-index: 1;
    font-size: 6vw;
    font-weight: 700;
    /* line-height: 20px; */
    color: #ffffff;
}


#passionDivText {
    color: #fff;
    margin-top: 1px;
    font-size:3vw;
    font-family: "Poppins", sans-serif;
    /* transition: all 1s; */
}



/*--------------------------------------
Scrollbar
----------------------------------------*/

#sideList::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#sideList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff00; 
  border-radius: 10px;
}

/* Handle */
#sideList::-webkit-scrollbar-thumb {
    background: #000000; 
}

/* Handle on hover */
#sideList::-webkit-scrollbar-thumb:hover {
    background: #141414; 
}
